<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Changer</title>
    <link rel="stylesheet" href="../assets/css/main.css">
   
</head>
<body>
    <div class="monitor">

    <div class="container">
        <img id="trainpic" src="../assets/images/green.png">
    </div>


    <div class="btn-wrap">
        <button class='btn btn-1'></button>
        <button class='btn btn-2'></button>
        <button class='btn btn-3'></button>
    </div> 
  
    </div>
</body>
<!-- <script src="../../assets/js/main.js"></script>  -->
<script src="../assets/js/main.js"></script> 
</html>
