<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
<title>Index</title>

</div>
</head>
<body>
  <div class="inner">
      <div class="infoText">
        <span> 
            <pre></pre>
            <pre>  Сервис реализует функционал управляющего по переезду</pre>
            <pre>  Дежурный по переезду реагирует на поезда, которые в </pre>
            <pre>  будущем проедут через переезд </pre>
            <pre>  Управляющий по переезду может изменить один из XML-тегов,</pre>
            <pre>  который передается следующему поезду.</pre>
            <pre></pre>
            <form method="post">
              <button type="submit" name="start">Начать</button>
            </form>
        </span></div>
      </div>
</body>
</html>