
ul {
  list-style: none; 
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
i {
  margin-right: 10px;
}
nav {
  display: block;
  width: 660px;
  margin: 0 auto 30px;
}
.menu ul {
  padding: 1em 0;
  background: #0D1321;
}
.menu a {
  padding: 1em;
  background: rgba(177, 152, 145, .3);
  border-right: 1px #FFEDDF;
  color: #FFEDDF;
}
.menu a:hover {background: #7d7d7d;}
.menu li {
  display: inline;
}

.infoText {
  position: absolute;
  background: #0D1321;
  color: #FFEDDF;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.table{
    border-spacing: 0;
    margin: 1rem;
    background-color: #f5f5f5;
    margin-left: auto;
    margin-right: auto;
}
.table__row:nth-child(even){
    background-color: rgb(231, 228, 228);
}
.table__header{
    text-align: left;
    background-color: #c3c3c3;
}
.table__cell {
    padding: 8px
}

.ProfilePage{
    width: 100px;
    height: 100px;
    border: 10px solid;
    z-index: 1;
    color: #ffffff;
    background-color: #ffffff;
}

.loginpage{
    padding: 6px;
    font-size: 16px;
	  line-height: 16px;	
	  color: #FFEDDF;
    margin-left: auto;
    margin-right: auto;
    width: 16em;
    border: 2px solid white;
    background: #0D1321;
}

.flashes{
  padding: 6px;
  font-size: 16px;
  line-height: 16px;	
  color: #FFEDDF;
  margin-left: auto;
  margin-right: auto;
  width: 18em;
  border: 2px solid white;
  background: #0D1321;
}

.profileHello{
  padding: 6px;
    font-size: 16px;
	  line-height: 14px;	
    color: #FFEDDF;
    margin-left: auto;
    margin-right: auto;
    width: 18em;
    border: 2px solid white;
    background: #0D1321;
}

.registration button{
  color: #16bd24;
  display: block;
}

.bottom{
  display: block;
  width: 600px;
  color: white;
  background: #0D1321;
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
  text-align: center;
}
:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  height: 100vh;
  overflow: hidden;
  background-size: contain;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background: #0D1321;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
