<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seat Heating System</title>
    <link rel="stylesheet" href="/app/assets/css/newpanel.css">
   
</head>
<script>
    const url = "/my-admin-panel/also-my-admin-panel"
    var fetchOptions = {
    method: "GET",
    header: new Headers({
        "Content-Type": "application/json",
    }),
}
    fetch(url, fetchOptions)
    .then((response) => {
        return response;
    });
</script> 
</html>