<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seat Heating System</title>
    <link rel="stylesheet" href="/app/assets/css/newpanel2.css">
   
</head>
<body>
    <div class="urltransfer">
        <form method="POST">
            <p>Please enter URL:</p>
            <input class="textbox" type="text" placeholder="https://online.sberbank.ru" name="page"/>
            <br>
            <br>
            <input class="btn" type="submit"  value="submit"/>
        </form>    
    </div>
</body>
</html>
