<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cover Note</title>
    <link rel="stylesheet" href="./assets/css/main.css">
</head>
<body>
    
    <div class="container">
        <div class="left-div left-text">
            <p>I was visiting my friend on Progressors once. He showed me a strange picture: a man in a spacesuit standing on the surface of the beautiful planet, and next to him lies a strange object. I asked what it was, but my friend just smiled and said, "It's a secret."</p> 
            <p>Later I found out that this item was a symbol of their friendship. They went on a trip to the distant stars together and took it with them as a reminder of home. But my friend never told me exactly what it was.</p>
            <p>So, what is it?...</p>
        </div>
    </div>

</body>
</html>
